<html>
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <title>Clip Directory</title>
</head>
<body v-scope>
<div class="navbar">
    <div class="search-bar">
        <form v-on:submit.prevent="onSubmit()">
            <input id="url" placeholder="Enter a Twitch VOD URL to see clips" type="text"/><input type="submit"
                                                                                                  :disabled="store.isLoading"
                                                                                                  value="O"/>
        </form>
    </div>

</div>
<div class="clip-container">
    <div :class="{'clip-video': true, 'show': store.selectedClip}" class="clip-video">
        <div class="iframe-container">
            <iframe
                    allowfullscreen="true"
                    id="video"
                    scrolling="no"
                    src="">
            </iframe>
        </div>
        <div class="clip-details" v-if="store.selectedClip">
            <h1 v-text="store.selectedClip.title"></h1>
            <p>Clipped by <a :href="`https://twitch.tv/${store.selectedClip.creator_name}`" target="_blank"
                             v-text="store.selectedClip.creator_name"></a> • <span
                    v-text="store.selectedClip.view_count"></span> views • <a :href="store.selectedClip.url"
                                                                              v-on:click.prevent="copyUrl(store.selectedClip.url)">Share</a>
            </p>
        </div>
    </div>
    <div class="clip-list">
        <header>
            <h1>{{ .video.title }}</h1>
            <h2><a href="https://www.twitch.tv/{{.video.user_login}}">{{ .video.user_name }}</a> • {{ .video.created_at
                }}</h2>
        </header>
        <main>
            <template :key="clip.id" v-for="clip in store.clips">
                <a class="clip-item" href="#" v-on:click.prevent="store.selectClip(clip)">
                    <div class="clip-thumbnail" v-bind:style="{backgroundImage: `url(${clip.thumbnail_url})`}">
                        <span v-text="`${Math.round(clip.duration)}s`"></span>
                    </div>
                    <div>
                        <h3 v-text="clip.title"></h3>
                        <p v-text="`Clipped by ${clip.creator_name}`"></p>
                        <p v-text="`${clip.view_count} views`"></p>
                    </div>
                </a>
            </template>
        </main>
    </div>
</div>
<script type="module">
    import {createApp, reactive} from 'https://unpkg.com/petite-vue?module';

    // @formatter:off
    const store = reactive({
        selectedClip: null,
        isLoading: false,
        selectClip: (clip) => {
            console.log('idk');
            store.selectedClip = clip;

            // Remove iframe and re-add iframe to prevent adding iframe url change to location history
            let iframe = document.querySelector('#video');
            let container = iframe.parentElement;
            iframe.remove();
            iframe.src = `${store.selectedClip.embed_url}&parent=clip.directory&parent=www.creates.tech&autoplay=true`;
            container.append(iframe);
        },
        clips: {{.clips}},
    })
    // @formatter:on

    var onSubmit = () => {
        store.isLoading = true;
        let url = document.querySelector('#url').value;
        console.log(url);
        fetch('/api/v1/validate', {
            method: 'post',
            body: JSON.stringify({
                url: url
            })
        })
            .then(async response => {
                if (response.status < 300) {
                    return response.json();
                } else {
                  let body = await response.json()
                  throw new Error(body.error);
                }
            })
          .then(data => {
            if (data.id) {
              window.location.href = `/twitch/${data.id}`;
            } else {
            }
          })
          .catch(error => {
            alert(error);
            isLoading = false;
          });
    }

    let copyUrl = async (url) => {
      await navigator.clipboard.writeText(url)
      alert('Copied to clipboard');
    }

    var isLoading = false;

    createApp({
      // share it with app scopes
      onSubmit,
      copyUrl,
      store
    }).mount()


</script>

</body>

</html>