<html>
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>Hello {{ .name }}</h1>



    <p>{{ with $x := .reverse }}
        {{ call $x "foobar" }} &lt;-- this will call the $x with parameter "foobar"
        {{ end }}
    </p>
</body>

</html>