@import 'vars';
@import 'mixins';
@import 'search';
@import 'clips';

html, body {
  //background-color: $color-twitch-purple-12;
  font-family: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input {
  font-size: 1.5em;
  padding: .7em 2ch;
  text-align: center;
  border: 1px solid $color-twitch-purple-10;

  &[type=text] {
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
    background-color: $white;
    width: 80%
  }

  &[type=submit] {
    border-bottom-right-radius: 4em;
    border-top-right-radius: 4em;
    background-color: $color-twitch-purple-10;
  }

  &:focus {
    outline: $color-twitch-purple-10 solid 2px;
  }
}

a:link, a:visited {
  color: $color-twitch-purple-7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
