.navbar {
  width: 100%;
  border-bottom: 1px solid $color-twitch-purple-10;
  height: 3em;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: $white;
  z-index: 9999;

  .search-bar {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1730px;

    form {
      margin: 0;
    }

    input {
      font-size: 1em;
      padding: .5em 2ch;

      &:focus {
        outline: $color-twitch-purple-10 solid 1px;
      }
    }
  }
}

.clip-container {

  $vertical-bp: 1100px;
  max-width: 1730px;
  margin: 3em auto 0;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  @include bp($vertical-bp) {
    flex-flow: row;
  }

  .clip-video {
    z-index: 999;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 3em;
    width: 100%;
    flex: 1;
    overflow: hidden;
    max-height: 90vh;
    max-width: 0;
    transition: max-width .35s;
    transition-timing-function: ease-out;

    &.show {
      max-width: 1300px;

      & + .clip-list {
        @include bp($vertical-bp) {
          max-width: 400px;
        }
      }
    }

    @include bp($vertical-bp) {
      padding: 0 25px;
    }

    .clip-details {
      display: none;
      @include bp($vertical-bp) {
        display: block;
      }
    }

    h1 {
      margin: .25em 0;
    }

    p {
      color: $gray-text;
      margin: 0;
    }

    .iframe-container {
      position: relative;
      padding-bottom: 56.25%;

      iframe {
        border: none;
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

  }


  .clip-list {

    display: flex;
    flex-flow: column;

    header {
      top: 0;
      flex: 0 1 auto;
      z-index: 99;
      margin-bottom: .5em;
      padding: 0 .7em;

      h1 {
        font-size: 1em;
      }

      h2 {
        font-size: .8em;
      }
    }

    main {
      .clip-item {
        font-size: .9em;
        color: $gray-text;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        margin-bottom: .5em;

        h3 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: black;
          margin: .5em 0;
          font-size: 1em;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 2.25em;
        }

        p {
          margin: 0 0 .35em 0;
        }

        .clip-thumbnail {
          background-size: 160px 91px;
          background-repeat: no-repeat;
          width: 160px;
          height: 91px;
          margin-right: 1ch;
          position: relative;
          flex-shrink: 0;

          span {
            display: inline-block;
            border-radius: 3px;
            padding: .25em .8ch;
            background-color: rgba(0, 0, 0, .65);
            color: $white;
            font-weight: 600;
            font-size: .8em;
            margin: .25em;
            position: absolute;
            bottom: .25em;
            right: .25em;
          }
        }
      }

      flex: 1 1 auto;
    }
  }
}

